
@import url(https://fonts.google.com/specimen/Source+Sans+Pro);
:root{
    --facny-anim:3s ease-in-out 0s 1 normal slide_out;
    --funny-background:rgb(21, 22, 53);
}
body{
    font-family: Source Sans Pro, sans-serif;
    background:var(--funny-background);
    color: white;
    overflow: scroll;
    margin: 0px;

}
p{
    font-size: 16pt;
}
#showMSG:active{
    --funny-background:white;
}